<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Portal del SIMCO</display-name>
    <servlet>
        <servlet-name>SimcoPublico</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.SimcoPublico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSimcoActividad</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.ReporteSimcoActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSimcoCaso</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.ReporteSimcoCasoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSimcoVictima</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.ReporteSimcoVictimaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSimcoActor</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.ReporteSimcoActorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSimcoInicio</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.ReporteSimcoInicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjax</servlet-name>
        <servlet-class>gob.pe.defensoria.servlet.ServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimcoPublico</servlet-name>
        <url-pattern>/simcoPublico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSimcoCaso</servlet-name>
        <url-pattern>/reporteSimcoCaso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSimcoActividad</servlet-name>
        <url-pattern>/reporteSimcoActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSimcoVictima</servlet-name>
        <url-pattern>/reporteSimcoVictima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSimcoActor</servlet-name>
        <url-pattern>/reporteSimcoActor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSimcoInicio</servlet-name>
        <url-pattern>/reporteSimcoInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjax</servlet-name>
        <url-pattern>/ServletAjax</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>reporteSimcoInicio</welcome-file>
    </welcome-file-list>
</web-app>
